/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%; /* Prevents font scaling in iOS */
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit; /* Use the color of the parent element */
}

img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
